$primary-color-dark: #c21515;
$primary-color: #E21A1A;
$page-background: #E9EAED;
$primary-color-light: #FF9B9B;
$primary-color-text: #000000;
$accent-color: "accent-color";
$primary-text-color: #FFF;
$secondary-text-color: #4A4A4A;
$opacity-color: rgba(241, 241, 241, 0.8);
$general-background-light: #ffffff;
$general-background: "general-background";
$gradient-loader: "gradient-loader";
$shadow-color: "shadow-color";
$primary-color-opacity: "primary-color-opacity";